# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Airflow
# ==========================
airflow/logs/
airflow/airflow.db
airflow/standalone_admin_password.txt
airflow/webserver_config.py

# ==========================
# dbt
# ==========================
dbt/target/
dbt/dbt_packages/
dbt/logs/

# ==========================
# Pytest
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Mypy
# ==========================
.mypy_cache/

# ==========================
# Ruff
# ==========================
.ruff_cache/

# ==========================
# UV
# ==========================
.python-version

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/